.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

    &__logo {
        width: 100px;
        margin: 18px 20px 0;
        object-fit: contain;
    }

    &__search {
        display: flex;
        flex: 1;
    }

    &__searchInput {
        height: 38px;
        padding: 7px 10px;
        border: none;
        border-radius: 3px 0 0 3px;
        width: 100%;
        outline: none;
    }

    &__searchIcon {
        width: 38px !important;
        height: 38px !important;
        padding: 5px;
        background-color: #FEBD69;
        border: none;
        border-radius: 0 3px 3px 0;
    }

    &__nav {
        display: flex;
        justify-content: space-evenly;
    }

    &__link {
        color: white;
        text-decoration: none;
    }

    &__search {
        display: flex;
        flex: 1;
    }

    &__option {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        &--lineOne {
            font-size: 10px;
        }
        &--lineTwo {
            font-size: 13px;
            font-weight: 800;
        }
        &--basket {
            display: flex;
            align-items: center;
        }
    }

    &__basketCount {
        margin: 0 10px;
    }
}


