.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

  img {
    object-fit: contain;
    width: 100px;
    height: 100px;
  }

  &__title {
    font-size: 17px;
    font-weight: 800;
  }

  &__info {
    padding-left: 20px;
  }

  &__rating {
    display: flex;
  }
}